* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.portfolio {
  display: grid;
  grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.image img {
  width: 100%;
}
.navbar-nav {
  background-color: #a3bed1;
  width:100%;
}
.nav-link {
font-family: 'karla', sans-serif;
  font-size: 12pt;
}
.nav-item {
  padding: 10px;
  font-family: 'karla', sans-serif;
  font-size: 18pt;
}
.footer {
  font-family: 'karla', sans-serif;
  text-align: center;
  color: #f6f4ea;
  background-color: #a63a10;
  position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
}
.name{
  margin-top: 15%;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 50pt;
  color: #e43e02;
  font-weight: bold;
font-family: 'Libre Baskerville', serif;
}

.bg {
  background-image: url("film/home.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bio{
margin-top: 5%;
  margin-left: 10%;
  margin-right:10%;
  text-align: center;
  color: #282828;
  font-size: 12pt;
  font-weight: normal;
font-family: 'karla', sans-serif;
}

html, body, div {
height: 100%;
  margin: 0;
}

.portrait{
  display:block;

}
.wrapper-about {
  display: flex;
}

.left-half {
  background-color:  #f7f7f2;
  flex: 2.5;
}

.right-half {
  background-color: #f7f7f2;
  flex: 1;
}
.reviews{
    margin-top: 5%;
   position: absolute;
   margin-left: 2%;
   text-decoration: underline;
   color: #e43e02;
   font-weight: bold;
   font-family: 'Libre Baskerville', serif;
   font-size: 55pt;
}
.row{
  text-align: center;
  margin-top: 15%;
  height: 40vh;

}
.reviewer{
 color: #282828;
 font-family: 'karla', sans-serif;
 text-align: left;
}
.review{
  color: #282828;
  font-family: 'karla', sans-serif;
  padding-top: 3%;
  text-align: left;
}
